[Desktop Entry]
Encoding=UTF-8
Name=Record Elive in a USB stick
Name[az]=USB stick ilə Elive edin
Name[bg]=Запишете Elive в USB стик null
Name[bn]=একটি USB স্টিক রেকর্ড Elive null
Name[ca]=Registre Elive en un llapis USB
Name[cs]=Nahrajte Elive v USB klíči
Name[da]=Optag Elive i en USB-stick
Name[de]=Record Elive in einem USB-Stick
Name[el]=Καταγράψτε το Elive σε ένα USB stick null
Name[en]=Record Elive in a USB stick
Name[eo]=Registru Elive en USB-bastono
Name[es]=Grabe Elive en una memoria USB
Name[et]=Salvestage Elive USB-mäluseadmesse
Name[fi]=Tallenna Elive USB-muistitikulla
Name[fr]=Enregistrer Elive sur une clé USB
Name[hi]=यूएसबी स्टिक में रिकॉर्ड एलीव करें null
Name[hr]=Snimite Elive u USB memoriji
Name[hu]=Record Elive egy USB stick-on
Name[id]=Rekam Elive di dalam stik USB
Name[it]=Registrare Elive in un bastone USB
Name[ja]=EliveをUSBメモリに記録する null
Name[ko]=Elive를 USB 스틱에 기록하십시오. Null
Name[lt]=Įrašykite'Elive'USB atmintine
Name[lv]=Ierakstiet Elive USB atmiņā
Name[ms]=Rakam Elive dalam tong USB
Name[nb]=Ta opp Elive i en USB-pinne
Name[nl]=Record Elive in een USB stick
Name[no]=Ta opp Elive i en USB-pinne
Name[pl]=Nagraj Elive w pamięci USB
Name[pt]=Record Elive em uma barra USB
Name[ro]=Înregistrați Elive într-un stick USB
Name[sk]=Nahrajte zariadenie Elive na USB kľúč
Name[sl]=Snemajte Elive na USB-ključu
Name[sr]=Снимите Еливе на УСБ штапићу null
Name[sv]=Spela in Elive i en USB-stick
Name[te]=USB స్టిక్లో రికార్డ్ చేయండి null
Name[tl]=I-record ang Elive sa USB stick
Name[tr]=Elif'i bir USB çubuğa kaydedin
Name[uk]=Запис Еліве в USB-накопичувач null
Name[vi]=Ghi lại Elive trong thanh USB
Comment=Tool to boot any computer with Elive
Comment[az]=Elive ilə hər hansı bir kompüter çəkmək üçün vasitədir
Comment[bg]=Инструмент за зареждане на всеки компютър с Elive null
Comment[bn]=Elive দিয়ে কোন কম্পিউটার বুট করার জন্য টুল null
Comment[ca]=Eina per arrencar qualsevol ordinador amb Elive
Comment[cs]=Nástroj pro zavádění libovolného počítače pomocí aplikace Elive
Comment[da]=Værktøj til at starte enhver computer med Elive
Comment[de]=Tool zum Starten eines beliebigen Computers mit Elive
Comment[el]=Εργαλείο για εκκίνηση οποιουδήποτε υπολογιστή με τον Elive null
Comment[en]=Tool to boot any computer with Elive
Comment[eo]=Ilo por lanĉi iun komputilon kun Elive
Comment[es]=Herramienta para arrancar cualquier computadora con Elive
Comment[et]=Elive arvutiga käivitamise tööriist
Comment[fi]=Työkalu käynnistää minkä tahansa tietokoneen Elive
Comment[fr]=Outil pour démarrer n'importe quel ordinateur avec Elive
Comment[hi]=Elive के साथ किसी भी कंप्यूटर को बूट करने के लिए उपकरण null
Comment[hr]=Alat za pokretanje bilo kojeg računala s Elive
Comment[hu]=Eszköz bármilyen számítógép elindításához az Elive segítségével
Comment[id]=Alat untuk boot komputer dengan Elive
Comment[it]=Strumento per avviare qualsiasi computer con Elive
Comment[ja]=Eliveで任意のコンピュータを起動するツール null
Comment[ko]=Elive가있는 컴퓨터를 부팅하는 도구 null
Comment[lt]=Įrankis paleisti bet kokį kompiuterį su'Elive'
Comment[lv]=Instruments, lai boot jebkuru datoru ar Elive
Comment[ms]=Alat untuk boot mana-mana komputer dengan Elive
Comment[nb]=Verktøy for å starte en hvilken som helst datamaskin med Elive
Comment[nl]=Gereedschap om een ​​computer op te starten met Elive
Comment[no]=Verktøy for å starte en hvilken som helst datamaskin med Elive
Comment[pl]=Narzędzie do uruchamiania dowolnego komputera z Elive
Comment[pt]=Ferramenta para inicializar qualquer computador com Elive
Comment[ro]=Instrument pentru a porni orice computer cu Elive
Comment[sk]=Nástroj na zavedenie ľubovoľného počítača pomocou programu Elive
Comment[sl]=Orodje za zagon računalnika z Elive
Comment[sr]=Алат за покретање било ког рачунара помоћу програма Еливе null
Comment[sv]=Verktyg för att starta en dator med Elive
Comment[te]=ఏ కంప్యూటర్ అయినా ఎల్వ్తో బూట్ చేయటానికి సాధనం null
Comment[tl]=Tool upang mag-boot ng anumang computer na may Elive
Comment[tr]=Herhangi bir bilgisayarı Elive ile önyüklemek için kullanılan araç
Comment[uk]=Інструмент для завантаження будь-якого комп'ютера з Elive null
Comment[vi]=Công cụ để khởi động bất kỳ máy tính nào với Elive
Exec=usb-bootable-elive
Icon=gnome-dev-removable-usb
Terminal=false
Type=Application
Categories=Elive
