[Desktop Entry]
Encoding=UTF-8
Name=USB Elive bootable
Name[vi]=USB có khả năng khởi động Elive
Name[uk]=Завантажувальний USB Elive
Name[sv]=USB Elive startbart
Name[es]=USB arrancable Elive
Name[sl]=USB Elive bootable
Name[sk]=USB Elive štartovanie systému
Name[ru]=Загрузочный USB Elive
Name[ro]=USB Elive bootable
Name[pt]=Elive USB inicializável
Name[pl]=USB Elive uruchamialna
Name[no]=USB Elive oppstartbar
Name[lt]=USB elive boot'owalnej
Name[lv]=USB Elive bootable
Name[ja]=EliveのUSBブート
Name[it]=Elive USB bootabile
Name[id]=Elive bootable USB
Name[hi]=USB Elive बूट
Name[iw]=USB Elive לאתחול
Name[el]=USB Elive εκκινήσιμο
Name[de]=USB Elive bootfähige
Name[fr]=Elive USB bootable
Name[fi]=USB Elive bootable
Name[tl]=USB Elive bootable
Name[nl]=USB Elive opstartbare
Name[da]=USB Elive opstartbare
Name[cs]=USB Elive zaveditelný
Name[hr]=USB bootable Elive
Name[ca]=USB arrencable Elive
Name[bg]=USB Elive Bootable
Name[ar]=USB Elive للتشغيل
Comment=Tool to create USB bootables with Elive on it
Comment[vi]=Công cụ để tạo ra cổng USB bootables với Elive vào nó
Comment[uk]=Інструмент для створення USB bootables з Elive на нього
Comment[sv]=Verktyg för att skapa USB bootables med Elive om det
Comment[es]=Herramienta para crear bootables USB con Elive en él
Comment[sl]=Orodje za ustvarjanje USB bootables z Elive o njem
Comment[sk]=Nástroj pre vytvorenie USB bootables s Elive na to
Comment[ru]=Инструмент для создания USB bootables с Elive на него
Comment[ro]=Instrument pentru a crea USB bootables cu Elive pe el
Comment[pt]=Ferramenta para criar bootables USB com Elive sobre ela
Comment[pl]=Narzędzie do tworzenia bootables USB z Elive na nim
Comment[no]=Verktøy for å lage USB bootables med Elive på det
Comment[lt]=Priemonė, siekiant kurti USB bootables su elive ją
Comment[lv]=Instruments, lai izveidotu USB bootables ar Elive par to
Comment[ja]=ツールはEliveとのUSB bootablesを作成する
Comment[it]=Strumento per creare USB bootables con Elive su di esso
Comment[id]=Alat untuk membuat USB bootables dengan Elive padanya
Comment[hi]=उपकरण पर Elive के साथ USB bootables बनाने के लिए
Comment[iw]=כלי ליצירת USB bootables עם Elive על זה
Comment[el]=Εργαλείο για τη δημιουργία bootables USB με Elive σε αυτό
Comment[de]=Tool zum Erstellen USB bootables mit Elive auf
Comment[fr]=Outil pour créer USB bootables avec Elive sur elle
Comment[fi]=Työkalun avulla USB bootables kanssa Elive sitä
Comment[tl]=Tool upang bumuo ng USB bootables sa Elive sa mga ito
Comment[nl]=Tool om USB bootables met Elive op het
Comment[da]=Redskab til at skabe USB bootables med Elive om det
Comment[cs]=Nástroj pro vytvoření USB bootables s Elive na to
Comment[hr]=Alat za kreiranje bootables sa USB Elive na nju
Comment[ca]=Eina per crear bootable USB amb Elive en ell
Comment[bg]=Инструмент за създаване на USB bootables с Elive на нея
Comment[ar]=أداة لخلق USB مع bootables عليه Elive
Exec=esu usb-bootable-elive
Icon=gnome-dev-removable-usb
Terminal=false
Type=Application
Categories=System;Settings;
