[Desktop Entry]
Encoding=UTF-8
Name=Install Elive in a USB and travel with it
Name[az]=Elive-ni USB-də quraşdırın və onunla səyahət edin
Name[bg]=Инсталирайте Elive в USB и пътувайте с него
Name[bn]=একটি USB মধ্যে Elive ইনস্টল করুন এবং এটি সঙ্গে ভ্রমণ
Name[ca]=Instal·la Elive en un USB i viatja amb ell
Name[cs]=Nainstalujte zařízení Elive do USB a cestujte s ním
Name[da]=Installer Elive i en USB og rejse med den
Name[de]=Installieren Sie Elive in einem USB und reisen Sie damit
Name[el]=Εγκαταστήστε το Elive σε ένα USB και ταξιδέψτε μαζί του
Name[eo]=Instali Elive en USB kaj vojaĝi kun ĝi
Name[es]=Instala Elive en un USB y viaja con él
Name[et]=Elive installige USB-seadmesse ja reisige koos sellega
Name[fi]=Asenna Elive USB-laitteeseen ja käytä sitä
Name[fr]=Installez Elive dans une clé USB et voyagez avec
Name[hi]=एक USB में Elive इंस्टॉल करें और इसके साथ यात्रा करें
Name[hr]=Instalirajte Elive u USB i putujte s njom
Name[hu]=Telepítse az Elive eszközt USB-n és utazgasson vele
Name[id]=Instal Elive di USB dan lanjutkan dengan itu
Name[it]=Installare Elive in un USB e viaggiare con esso
Name[ja]=EliveをUSBにインストールし、それと一緒に旅行する
Name[ko]=Elive를 USB에 설치하고 함께 여행하십시오.
Name[lt]=Įdiekite'Elive'USB ir keliauja su juo
Name[lv]=Instalējiet Elive USB un ceļojat ar to
Name[ms]=Pasang Elive dalam USB dan perjalanan dengannya
Name[nb]=Installer Elive i en USB og reise med den
Name[nl]=Installeer Elive op een USB en reis ermee
Name[no]=Installer Elive i en USB og reise med den
Name[pl]=Zainstaluj Elive w USB i podróżuj z nią
Name[pt]=Instale Elive em um USB e viaje com ele
Name[ro]=Instalați dispozitivul Elive într-o unitate USB și călătoriți cu el
Name[sk]=Nainštalujte zariadenie Elive do zariadenia USB a cestujte s ním
Name[sl]=Namestite Elive v USB in potujte z njim
Name[sr]=Инсталирајте Еливе на УСБ и путујте уз њега
Name[sv]=Installera Elive i en USB och resa med den
Name[te]=ఒక USB లో ప్రయాణించండి మరియు దానితో ప్రయాణించండి
Name[tl]=I-install ang Elive sa isang USB at maglakbay dito
Name[tr]=Elive'ı USB'ye yükleyin ve onunla birlikte seyahat edin
Name[uk]=Установіть Elive на USB і їдьте з ним
Name[vi]=Cài đặt Elive trong USB và đi du lịch với nó
Comment=Boot any computer with Elive
Comment[az]=Elive ilə hər hansı bir kompüteri yükləyin
Comment[bg]=Заредете всеки компютър с Elive
Comment[bn]=Elive দিয়ে কোন কম্পিউটার বুট করুন
Comment[ca]=Arrenca qualsevol ordinador amb Elive
Comment[cs]=Spusťte počítač s Elive
Comment[da]=Start en computer med Elive
Comment[de]=Booten Sie jeden Computer mit Elive
Comment[el]=Εκκινήστε οποιονδήποτε υπολογιστή με τον Elive
Comment[eo]=Komencu iun komputilon kun Elive
Comment[es]=Arranque cualquier computadora con Elive
Comment[et]=Laadige kõik arvutid Elivega
Comment[fi]=Käynnistä tietokone Elivella
Comment[fr]=Démarrer n'importe quel ordinateur avec Elive
Comment[hi]=Elive के साथ किसी भी कंप्यूटर को बूट करें
Comment[hr]=Pokrenite bilo koje računalo s Eliveom
Comment[hu]=Indítsa el a számítógépet az Elive segítségével
Comment[id]=Boot komputer dengan Elive
Comment[it]=Avviare qualsiasi computer con Elive
Comment[ja]=Eliveで任意のコンピュータを起動する
Comment[ko]=Elive가있는 컴퓨터 부팅
Comment[lt]=Įjunkite bet kurį kompiuterį su'Elive'
Comment[lv]=Ielādējiet jebkuru datoru ar Elive
Comment[ms]=Boot mana-mana komputer dengan Elive
Comment[nb]=Start en hvilken som helst datamaskin med Elive
Comment[nl]=Start elke computer op met Elive
Comment[no]=Start en hvilken som helst datamaskin med Elive
Comment[pl]=Uruchom dowolny komputer za pomocą Elive
Comment[pt]=Arranque qualquer computador com Elive
Comment[ro]=Începeți orice computer cu Elive
Comment[sk]=Spustite ľubovoľný počítač so systémom Elive
Comment[sl]=Zagon računalnika z Elive
Comment[sr]=Покрените рачунар са Еливе
Comment[sv]=Starta någon dator med Elive
Comment[te]=ఎలివ్ తో ఏ కంప్యూటర్ బూట్
Comment[tl]=Mag-boot ng anumang computer na may Elive
Comment[tr]=Herhangi bir bilgisayarı Elive ile önyükleyin
Comment[uk]=Завантажте будь-який комп'ютер з Еліве
Comment[vi]=Khởi động bất kỳ máy tính nào với Elive
Exec=usb-bootable-elive
Icon=gnome-dev-removable-usb
Terminal=false
Type=Application
Categories=Elive
